<section class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem minima necessitatibus odit eligendi nobis, cum ipsa ut iure corporis molestiae, illum similique incidunt itaque maiores molestias voluptatem, laboriosam repellendus? Dolores!</p>
    </div>
</section>