<div class="jumbotron mt-4">
    <h1 class="display-4">Notes App Notejs and Mongodb</h1>
    <p class="lead"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus itaque a dolores, modi obcaecati aliquid. </p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolor eum rem aliquam commodi voluptates corrupti saepe libero quis quae non?</p>
    <a href="http://www.faztweb.com" class="btn btn-primary">Faztweb</a>
</div>